h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}

body{background-color: aliceblue;}


    

.namapanjang{color: blue;}
.nama{color: blue;}
.tgllahir{color: blue;}
.usia{color: blue;}
.agama{color: blue;}
.namaayah{color: blue;}
.namaibu{color: blue;}